.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: #ffffff;
    border-radius: 12px;
    padding: 24px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

.modal p {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.textArea {
    width: calc(100% - 20px);
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 24px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.textArea:focus {
    border-color: #4caf50;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.2);
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #388e3c;
}

.button:active {
    transform: scale(0.98);
}


.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}


.closeButton img {
    width: 30px;
    height: 30px;
}
